body {
    color: #ffffff;
    background-color: #155799;
    background: linear-gradient(#155799, #159957);
    background: -moz-linear-gradient(#155799, #159957);
    background: -o-linear-gradient(#155799, #159957);
}

hr {
    width: 95%;
}

.content {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    text-align: center;
}

.maintext {
    font-size: 3.8em;
}

.subtext {
    font-size: 1.3em;
}

.social-media-icons a {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
